<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order_type.name %>
</p>
<% if can? :manage, OrderType %>
    <%= link_to 'Edit', edit_order_type_path(@order_type) %> |
    <% end %>
    <%= link_to 'Back', order_types_path %>
