<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @district.city.name %>
</p>
<% if can? :manage, District %>
    <%= link_to 'Edit', edit_district_path(@district) %> |
<% end %>
<%= link_to 'Back', districts_path %>
