<h1>Step 1 : Define Customer</h1>

    <%= collection_select(:customer, :id, @all_customers, :id, :name) %>


<%= link_to 'skip', next_wizard_path %>


<script>
    $(document).ready(function () {

        $('#customer_id').select2();
    });
</script>